#mainContainer {
    -fx-background-radius: 20px;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-border-color: black;
}

#imageWrapper {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-color: #f0efda;
    -fx-background-radius: 20px;
}

#nameLabel {
    -fx-font-size: 2em;
    -fx-alignment: center;
}

#idLabel {
    -fx-font-size: 1.5em;
    -fx-alignment: center;
}

#heightLabel {
    -fx-font-size: 1.5em;
    -fx-alignment: center;
}

#weightLabel {
    -fx-font-size: 1.5em;
    -fx-alignment: center;
}

#lowerInfoWrapper {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-color: #f0efda;
    -fx-background-radius: 20px;
}

#nameWrapper {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-color: #f0efda;
    -fx-background-radius: 20px;
}


