.root {
    -fx-background-color: transparent;
    -fx-pannable: true;
}

.root .viewport {
    -fx-background-color: #65c77f;
}

#tilePane {
    -fx-background-color: #65c77f;
    -fx-pref-columns: 2;
    -fx-pref-tile-width: 632px;
}