.root {
    -fx-background-color: transparent;
    -fx-pannable: true;
}

.root .viewport {
    -fx-background-color: #65c77f;
}

#tilePane {
    -fx-background-color: #65c77f;
    -fx-pref-columns: 2;
    -fx-pref-tile-width: 632px;
}

.button {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-background-color: #111111;
}

#filterBar {
    -fx-background-color: blue;
}