#pokemonTile {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: inherit;
    -fx-pref-width: 632px;
}

#pokemonTileNameLabel {
    -fx-font-size: 30px;
}

#pokemonTile .label {
    -fx-padding: 0 10px;
}

#pokemonTileImageViewWrapper {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-color: #f0efda;
    -fx-background-radius: 20px;
}

#pokemonTileMoreButton {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-background-color: #111111;
}

#textWrapper {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-color: #f0efda;
    -fx-background-radius: 20px;
}